
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.cart h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-details h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.cart-item-details p {
    margin: 5px 0;
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #e60000;
}

.cart-summary {
    margin-top: 20px;
    text-align: right;
}

.cart-summary h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.checkout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #0056b3;
}

.checkout-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #00b318;
}


@media (max-width: 600px) {
    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item-img {
        margin-bottom: 10px;
    }

    .checkout-button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}
