.custom-bullets {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0;
}

.custom-bullets li {
    position: relative;
    padding-left: 20px; /* Space for custom bullet */
}

.custom-bullets li::before {
    content: '•'; /* Custom bullet character */
    color: #007BFF; /* Change to your desired color */
    position: absolute;
    left: 0;
}
.policy-title{
    position: relative;
    margin-left: 42%;
}